html
{
    background-image: url('./bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .search-conatiner{
      margin-top: 25vh;
  }

@media screen and (max-width:600px)
{
   .search-conatiner{
      margin-top: 25vh;
  } 
}

input:focus{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.8; /* Firefox */
}

#searchbar{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255,255,255, 0.8);
    border: 1px solid black;
    text-align: center;
    color:black ;
    font-size: 2rem;
    font-weight: 900;
}


.card{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255,255,255, 0.5);
    
    color: black;
}

.card-item{
    
    font-size: 2rem;
    line-height: 50px;
    word-wrap: break-word;
}

.country{
    font-size: 2rem;
    font-weight: 800;
}

.desc{
    font-size: 2rem;
    word-wrap: break-word;
    font-family: 'New Rocker', cursive;  
}

sup{
    border-radius: 50%;  
    font-size: 0.5rem;
}



